body {
    background-color: darkgoldenrod;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

.contentImage {
    width: 200px;
}

#banner {
    height: 160px;
    background: green;
    color: navy;
    font-size: 140px;
}

#menuBar {
    font-size: 17px;
    float: right;
    background: indigo;
    margin-top: 50px;
}

#menuBar .menuButton {
    width: 150px;
    background: orange;
    border: 5px solid black;
    border-radius: 20px;
    padding: auto;
    margin: 15px;
    text-align: center;
    display: inline-block;
}

#menuBar .menuButton:HOVER {
    background: black;
    border: 5px solid gray;
    color: white;
}

.innerTable {
    border: 1px double;
    width: auto;
}

table {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border: 5px darkgreen solid;
    border-collapse: collapse;
}

td {
    border: 1px darkgreen solid;
    height: 20px;
    width: 50%;
}

.centeredTd {
    text-align: center;
}

#booksTable {
    width: 100%;
    margin: auto;
}