<div class="container-fluid">
	<div ng-if="statusCode == 200">
		<div class="alert alert-success">
			<p><strong>Success!</strong> You've successfully added {{ book.quantity }} new instance of {{ book.author }}'s {{ book.title }}.</p>
		</div>
	</div>
	<div ng-if="statusCode == 403">
		<div class="alert alert-warning">
			<p><strong>Warning!</strong> You don't have permission to add new book instance.</p>
		</div>
	</div>
	<div ng-if="statusCode >= 500">
		<div class="alert alert-danger">
			<p><strong>Error {{ statusCode }}!</strong> Server Error</p>
		</div>
	</div>
	<form ng-submit="addBookInstance()">
		<div class="form-group">
			<label>Book:</label>
			<select ng-model="book" class="form-control" ng-options="b.author + ' - ' + b.title for b in books"></select>
		</div>
		<div class="form-group">
			<label>Quantity:</label>
			<input type="number" class="form-control" ng-model="quantity" min="1" />
		</div>
		<button type="submit" class="btn btn-default">Add Book Instance</button>
	</form>
</div>