<div class="container-fluid">
	<form class="form-inline">
		<div class="form-group">
			<label>Author:</label> <select ng-model="author"
				ng-options="a.name for a in authors"></select>
		</div>
		<div class="form-group">
			<label>Genre:</label> <select ng-model="genre"
				ng-options="g for g in genres"></select>
		</div>
		<div class="form-group">
			<label>Available only:</label> <input type="checkbox"
				ng-model="available" value="">
		</div>
	</form>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Genre</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="book in books | filter: author.name | filter: genre | filter: availabilityFilter"
					data-toggle="modal" data-target="#viewBookModal"
					ng-click="viewBook(book)">
					<td>{{ book.title }}</td>
					<td>{{ book.author }}</td>
					<td>{{ book.genre }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>

				</tr>
			</tfoot>
		</table>
	</div>
	<div id="viewBookModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Book information</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
								<div class="table-responsive">
									<table class="table">
										<tr>
											<th>Title:</th>
											<td>{{ book.title }}</td>
										</tr>
										<tr>
											<th>Author:</th>
											<td>{{ book.author }}</td>
										</tr>
										<tr>
											<th>Genre:</th>
											<td>{{ book.genre }}</td>
										</tr>
										<tr>
											<th>Available:</th>
											<td><book-available-directive
													available="{{ book.available }}"
													quantity="{{ book.quantity }}"></book-available-directive>
											</td>
										</tr>
									</table>
								</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						data-toggle="modal" data-target="#requestBookModal"
						ng-click="requestBook()">Request</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="requestBookModal" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Book request</h4>
				</div>
				<div class="modal-body">
					<div ng-if="statusCode == 200">
						<div class="alert alert-success">
							<p>
								<strong>Success!</strong> You've successfully requested {{book.author }}'s {{ book.title }}. You have to wait for a
								librarian to accept your request.
							</p>
						</div>
					</div>
					<div ng-if="statusCode == 409">
						<div class="alert alert-warning">
							<p>
								<strong>Warning!</strong> The book you've just requested is
								currently not available.
							</p>
						</div>
					</div>
					<div ng-if="statusCode == 400">
						<div class="alert alert-warning">
							<p>
								<strong>Warning!</strong> You've already requested this book.
							</p>
						</div>
					</div>
					<div ng-if="statusCode >= 500">
						<div class="alert alert-danger">
							<p>
								<strong>Error {{ statusCode }}!</strong> Server Error
							</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>